server:
  port: 3003


spring:
  datasource:
    url: jdbc:mysql://mysql-balance:3306/balances
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    connect-retries: 10

  kafka:
    bootstrap-servers: kafka:29092
    consumer:
      group-id: balance-service
      auto-offset-reset: earliest

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always